
div.card1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    padding-top: 20px;
    padding-bottom: 85px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background-color: darkgray;
    border-style: solid;
    border-width: 8px;
    border-color: gray;
}

h2{
    font-weight: 900;
}

div.NAstats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

div.NAlefties{
    font-weight: 400;
}

div.NArighties{
    font-style: italic;
}

div.nightAgentPic{
    img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 200px;
    border-style: solid;
    border-width: 4px;
    border-color: gray;
    float:left;
    }
}